.promotion-item{
    margin: 5px;
    .promotion-item a{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    .promotion-content{
        position: absolute;
        text-align: center; width: 100%;
        top: 45%;
        left: 0;
        padding: 0 15px;
        color: #ffffff;
        text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
    }
    .promotion-item img{ width: 100%; height: 100%; }
}
.promotion-item:hover{
    .title{display:none};
}
.owl-carousel{
    .owl-item{
        .carousel-component{
            height:100%;
            width:100%;
            img{                
                display: block;
				width:100%;
                height: 200px;
            }
        }
    }
}
.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display: block;
}

.owl-carousel .item {
    margin:0px;
}

.owl-carousel .owl-nav div {
  position: absolute;
}
.owl-carousel .owl-nav .owl-prev{
    left: -45px;
    top: 50%;
}

.owl-carousel .owl-nav .owl-next{
    right: -45px;
    top: 50%;
}

.owl-slider .owl-nav .owl-prev{
    color:white;
    left: 10px;
    top: 50%;
}

.owl-slider .owl-nav .owl-next{
    color:white;
    right: 10px;
    top: 50%;
}
.ribbon{
    z-index: 100;
}
