.grid-masonry:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer, .grid-item { width: 22%; margin-top:20px }
.grid-item--width2 { width: 50%; }

.grid-item{float: left;}
