#slides{
    position: relative;
    .slides-container{
        img{ filter: brightness(.7);}
        #slider-text{
            color:white;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
        }
    }
    .slides-pagination a{
        border:1px solid white;
        background: white;
    }
    .slides-pagination a.current{
        border:1px solid #ccc;
        background: #ccc;
    }
}

section#promotion{
    .segment-content{
        padding:5% 0;
    }
}
