#slides{
    position: relative;
    .slides-container{
        img{ filter: brightness(.7);}
        #slider-text{
            color:white;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
        }
    }
}

section#promotion{
    .segment-content{
        padding:5% 0;
    }
}
