.ui.grid > .row {
    padding-top: 0;;
    padding-bottom: 0;
}

.sidebar{
    overflow:visible!important;
}

header.ui.menu{
    a.item{font-weight: bold; text-transform: uppercase;}
    a.item.active {
      font-weight: bold;
    }
    margin-bottom: 20px;
}
#language-submenu{
  background: #2185D0;
  div.item.active{
    font-weight: bold;
    text-transform: uppercase;
  }
}

.sidebar{
    overflow: visible !important;
}
