.ui.grid > .row {
    padding-top: 0;;
    padding-bottom: 0;
}

.sidebar{
    overflow:visible!important;
}

header.ui.menu{
    a.item{font-weight: bold; text-transform: uppercase;}
    a.item.active {
      font-weight: bold;
    }
}
#language-submenu{
  background: #2185D0;
  div.item.active{
    font-weight: bold;
    text-transform: uppercase;
  }
}

.sidebar{
    overflow: visible !important;
}

#header-nav{

    .mobile.row{
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .mobile.row .ui.inverted.menu{ border-radius: 0px !important; }

    .padding-reset{ padding: 0px !important; }

    @media (max-width: 767px) {
        .ui.grid { margin: 0 !important; }
        .ui.vertical.menu.navbar{
            margin-top: 10px !important;
            padding-top:60px;
            padding-bottom: 10px;
            a.item:first-child{ padding-top: 5px;}
        }
    }

    .ui.vertical.menu{
        margin-top: -15px !important;
        width: 100%;
        display: none;
    }
}
